@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

:root {
    --very-light-grayish-blue: hsl(240, 78%, 98%);
    --light-grayish-blue: hsl(234, 14%, 74%);
    --grayish-blue: hsl(233, 13%, 49%);
    --dark-grayish-blue: hsl(232, 13%, 33%);
    --primary: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
}

/* Mobile */
* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

html {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

.container {
    background-image: url(../images/bg-top.svg);
    background-repeat: no-repeat;
    background-position: 240% 0%;
    background-size: 20rem;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header {
    font-weight: 700;
    margin-top: 3rem;
    margin-bottom: 2rem;
    color: var(--grayish-blue);
}

.option-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 3rem;
}

.plan-options {
    color: var(--light-grayish-blue);
    margin: 0 1.5rem;
}

.plan-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plan {
    -webkit-box-shadow: 0px 0px 61px -42px rgba(0,0,0,0.45);
    -moz-box-shadow: 0px 0px 61px -42px rgba(0,0,0,0.45);
    box-shadow: 0px 0px 61px -42px rgba(0,0,0,0.45);
    background-color: white;
    padding: 2rem 2rem;
    text-align: center;
    border-radius: 0.7rem;
    margin-bottom: 2rem;
}

.plan-name {
    margin-bottom: 1rem;
}

.price {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
    padding: 0 2rem 1rem 2rem;
    border-bottom: 0.025rem solid var(--light-grayish-blue);
}

.features {
    font-weight: 700;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 0.025rem solid var(--light-grayish-blue);
}

.learn-more {
    text-decoration: none;
    margin-top: 1rem;
    padding: 0.7rem 5rem;
    margin-bottom: 2rem;
    border-radius: 0.4rem;
    font-weight: 700;
}

.last-feature {
    margin-bottom: 2rem !important;
}

.basic>.plan-name,
.master>.plan-name,
.basic>.price,
.master>.price,
.basic>.features,
.master>.features {
    color: var(--dark-grayish-blue);
}

.basic>.learn-more,
.master>.learn-more {
    width: 100%;
    color: var(--very-light-grayish-blue);
    background-image: var(--primary);
}

.basic>.learn-more:hover,
.master>.learn-more:hover {
    color: hsl(237, 63%, 64%);
    background-color: white;
    background-image: none;
    outline: 0.15px solid hsl(237, 63%, 64%);
}

.professional {
    background-image: linear-gradient(to bottom, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    padding: 2rem 2.2rem;
}

.professional>.plan-name,
.professional>.price,
.professional>.features {
    color: white;
    padding-bottom: 1.2rem;
    margin-bottom: 1.2rem;
}

.professional>.learn-more {
    color: hsl(237, 63%, 64%);
    background-color: white;
    margin-top: 1.2rem;
    padding: 0.7rem 5rem;
    margin-bottom: 2.2rem;
}

.professional>.learn-more:hover {
    color: white;
    background-color: hsl(237, 63%, 64%);
    outline: 0.15rem solid white;
}

.plan:last-child {
    margin-bottom: 4rem;
}

footer {
    display: block;
    padding: 2rem 0;
    text-align: center;
}

footer a {
    text-decoration: none;
    font-weight: 700;
    color: hsl(237, 63%, 64%);
}

footer a:hover{
    opacity: 0.7;
}

/* Desktop */

@media only screen and (min-width: 768px) {
    .container {
        background-image: url(../images/bg-top.svg), url(../images/bg-bottom.svg);
        background-repeat: no-repeat;
        background-position: top right, bottom left;
        background-size: 21rem;
    }

    .plan-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .plan {
        margin-bottom: 0;
    }

    .plan:last-child {
        margin-bottom: 0;
    }
}